* {
  padding: 0;
  margin: 0;
}

html,
body{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.App {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  max-width: 900px;
}

.logo-rcn{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.logo-rcn img {
  width: 200px;
  height: auto;
}

.subtitle{
  margin-top: 1em;
  border-bottom: 1px solid #ccc;
}

.parrafo {
  margin-bottom: 0.5em;
}

.lista-tareas {
  list-style: square;
}